<button (click)="logOut()">Logout</button>
<div>
  <h3 class=" text-center">Board of Thoughts</h3>
  <div (click)="onOpenAddTopicDialog()">
    <i class="fas fa-plus-square"></i>
    <p>click here to add a topic</p>
  </div>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="inbox_chat" >
          <div class="chat_list"
               [ngClass]="{'active_chat': selectedTopic?.id === topic.id}"
               (click)="onTopicSelect(topic)"
               *ngFor="let topic of topics">
            <div class="chat_people">
              <div class="chat_ib">
                <h5>{{ topic.title }}<span class="chat_date">{{ topic.created | date }}</span></h5>
                <p>{{ topic.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-messages *ngIf="selectedTopic"></app-messages>
    </div>
  </div>
</div>
