<div class="limiter">
  <div class="container-login100">
    <div class="login100-more"></div>
    <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
      <form class="login100-form validate-form"
            (submit)="onSignUpFormSubmit()"
            novalidate
            [formGroup]="signUpForm">
					<span class="login100-form-title p-b-59">
						Sign Up
					</span>
        <div class="wrap-input100 validate-input">
          <input class="input100"
                 formControlName="name"
                 type="text"
                 name="name"
                 placeholder="Enter your name">
          <p class="validation-error"
             *ngIf="signUpForm.controls.name.errors?.required
             && signUpForm.controls.name.touched">This field is required</p>
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input">
          <input class="input100"
                 formControlName="email"
                 type="email"
                 name="email"
                 placeholder="Enter your email address">
          <p class="validation-error"
             *ngIf="signUpForm.controls.email.errors?.required
             && signUpForm.controls.email.touched">This field is required</p>
          <p class="validation-error"
             *ngIf="signUpForm.controls.email.errors?.email
             && signUpForm.controls.email.touched">Please enter a valid email</p>
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input">
          <input class="input100"
                 formControlName="password"
                 type="password"
                 name="pass"
                 placeholder="Enter your password">
          <p class="validation-error"
             *ngIf="signUpForm.controls.password.errors?.required
             && signUpForm.controls.password.touched">This field is required</p>
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input">
          <input class="input100"
                 formControlName="confirmPassword"
                 type="password"
                 name="confirm_pass"
                 placeholder="Confirm password">
          <p class="validation-error"
             *ngIf="signUpForm.controls.confirmPassword.errors?.required
             && signUpForm.controls.confirmPassword.touched">This field is required</p>
          <p class="validation-error"
             *ngIf="signUpForm.controls.confirmPassword.errors?.matchErr
             && signUpForm.controls.confirmPassword.touched">Passwords don't match</p>
          <span class="focus-input100"></span>
        </div>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn"
                    [disabled]="signUpForm.invalid"
                    type="submit">
              Sign Up
            </button>
          </div>
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn"
                    type="button"
                    routerLink="/signin">
              Sign In &nbsp;
              <i class="fas fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
