@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.wide {
  width: 1100px
}

.addBtn {
  float: right;
  color: green;
  font-size: 20px;
  cursor: pointer;
}

.validation-error {
  color: red!important;
}
